/* this stylesheet is for one-off specific component styles */

#logo {
  margin-bottom: 15px;
}
#nav ul {
  padding: 0;
}
#nav li {
  display: block;
}
.team-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-flow: row wrap;
  width: 100px;
}
.team-wrapper img {
  border-radius: 50px;
}

h2.company-name {
  float: left;
}
.ceo-faces {
  float: right;
}
.person-avatar--active {
  box-shadow: inset 0px 0px 0px 10px #509d5d;
  border-radius: 50px;
}

.screenshot {
  width: 100%;
  border: 6px solid #ccc;
  border-top: 25px solid #ccc;
  border-radius: 5px;
}

.companies-wrapper {
  min-width: 180px;
}

.companies-wrapper-item {
  padding: 4px 8px;
  margin: 0 0 5px;
}

.companies-wrapper-item--active {
  background: #509d5d !important;
  color: white !important;
  border-radius: 5px;
}
.companies-wrapper-item:hover {
  background: #ddd;
  color: black;
  border-radius: 5px;
}
.company p {
  margin: 0;
}

.nav-arrow {
  display: inline-block;
  background: #cfcfcf;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
}

.nav-arrow .material-icons {
  position: relative;
  top: 3px
}

.material-icons {
  width: 24px;
  color: black !important;
}

.inner-content, .inner-content .column {
  margin-top: 0px;
  padding-top: 0;
}
